
/* .createbtn{
    background-color: #3b5998;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    
} */

/* Genral Css START */

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Mulish', sans-serif;
}

.main_div{
    margin-top: 15vh;
}

#form_signup{
    width: 350px;
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
}

.title_div{
    text-align: center;
}

.fb {
    background-color: #3B5998;
    color: white;
}

.fb:hover {
    background-color: #3B5998;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

.google:hover {
    background-color: #dd4b39;
    color: white;
}

.underlineH2{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 20px 0 20px;
}

.underlineH2 span { 
    background:#fff; 
    padding:0 10px; 
    font-size: 15px;
}

.input-group{
    padding: 15px 0px 15px 0px;
}

.btn_class{
    width: 100%;
    color: white;
    background: linear-gradient(45deg, #3b5998, #dd4b39);
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.btn_class:hover{
    color: white;
    background-color: #3b5998;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.bottom_class{
    margin-top: 10px;
    text-align: center;
}

.loginStyle{
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

.redErrorMsg{
    font-size: 14px;
    text-align: center;
    color: red;
}

/* Genral Css END */



/* Dashboard.php START */

.btn_class2{
    color: white;
    background: linear-gradient(45deg, #3b5998, #dd4b39);
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.btn_class2:hover{
    color: white;
    background-color: #3b5998;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

/* Dashboard.php END */

/* login.php START */

.greenErrorMsg{
    font-size: 14px;
    text-align: center;
    color: green;
    transition-duration: 5s;
    transition-delay: 2s;
    
}

.msg_style{
    background-color: #3aaaa8;
    color: white;
    padding: 3px 3px 1px 5px;
    -webkit-animation: cssAnimation 5s forwards; 
    animation: cssAnimation 5s forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.showPass{
    margin-left: 122px !important;
}

/* login.php END */